<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class = "navbar-header">
      <h2 style="font-family:'Times New Roman'; color:white">Error Message</h2>
    </div>
    <%= render partial: "users/home" %>
    <%= render partial: "users/logout" %>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1 style="font-family: 'Times New Roman';color: RED">Please enter a valid input:</h1>
    <h3 style="font-family: 'Times New Roman'">Password length should be greater than 6</h3>
    <h3 style="font-family: 'Times New Roman'">Phone number length should be equal to 10</h3>
    <h3 style="font-family: 'Times New Roman'">Email, Name(Alphanumeric, _ allowed) and Contact(10 digits) format should be right</h3>
    <h3 style="font-family: 'Times New Roman'">Email already exist in system, try other email address</h3>
  </div>
</div>