<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class = "navbar-header">
      <h2 style="font-family:'Times New Roman'; color:white">Error Message</h2>
    </div>
    <%= render partial: "users/home" %>
    <%= render partial: "users/logout" %>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h2 style="font-family: 'Times New Roman'; color: RED">Car license number should have 7 characters or Car with same license present in system</h2>
    <h2 style="font-family: 'Times New Roman'; color: BLUE">OR</h2>
    <h2 style="font-family: 'Times New Roman'; color: RED">Unknown car style entered</h2>
  </div>
</div>
